<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/member/img/img_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,2},{114,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,94}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,2},{114,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,94}</string>
			</dict>
			<key>hallClub/img/member/img/img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,2},{162,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,2},{81,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>hallClub/img/member/img/img_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,2},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>hallClub/img/member/img/img_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,40},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>hallClub/img/member/img/img_sub_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,2},{34,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,14}</string>
			</dict>
			<key>hallClub/img/member/img/img_sub_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,2},{34,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,11}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubInputNum.png</string>
			<key>realTextureFileName</key>
			<string>HallClubInputNum.png</string>
			<key>size</key>
			<string>{1024,98}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>98</integer>
		</dict>
	</dict>
</plist>