<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hongheihu/imgs/gamover/fangzhu_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,1},{91,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,60}</string>
      </dict>
      <key>hongheihu/imgs/gamover/flag_dapaowang.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1},{48,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{48,100}</string>
      </dict>
      <key>hongheihu/imgs/gamover/flag_dayingjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,1},{49,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,103}</string>
      </dict>
      <key>hongheihu/imgs/gamover/win_all_huxi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,915},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/win_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{389,455}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{389,455}</string>
      </dict>
      <key>hongheihu/imgs/gamover/win_hu_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,970},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/win_mingtang_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,915},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/lose_all_huxi.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,970},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/lose_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,458},{389,455}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{389,455}</string>
      </dict>
      <key>hongheihu/imgs/gamover/lose_hu_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,915},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/lose_mingtang_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,970},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>hongheihu/imgs/gamover/huxi.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,1},{84,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>game_over.png</string>
      <key>realTextureFileName</key>
      <string>game_over.png</string>
      <key>size</key>
      <string>{740,1024}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>740</integer>
      <key>height</key>
      <integer>1024</integer>
    </dict>
  </dict>
</plist>

