<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daoju/cun/bq_hongxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1},{46,40}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,42}</string>
			</dict>
			<key>daoju/cun/bq_hongxing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{196,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,172}</string>
			</dict>
			<key>daoju/cun/cun01.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,59},{97,47}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>daoju/cun/cun02.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1},{84,53}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>daoju/cun/cun03.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{99,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>daoju/cun/cun04.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1},{82,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,63}</string>
			</dict>
			<key>daoju/cun/s08.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cun.png</string>
			<key>realTextureFileName</key>
			<string>cun.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>