<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daoju/igq/0jgq_xgt.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1},{165,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,73}</string>
			</dict>
			<key>daoju/igq/jgq01.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,72},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,18}</string>
			</dict>
			<key>daoju/igq/jgq02.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,72},{30,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,16}</string>
			</dict>
			<key>daoju/igq/jgq03.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,72},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>daoju/igq/jgq04.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,108},{50,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,10}</string>
			</dict>
			<key>daoju/igq/jgq05.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,62},{16,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,37}</string>
			</dict>
			<key>daoju/igq/jgq06.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,113},{18,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,10}</string>
			</dict>
			<key>daoju/igq/jgq07.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,72},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>daoju/igq/jgq08.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,102},{9,9}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>daoju/igq/jgq08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,107},{9,8}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,11}</string>
			</dict>
			<key>daoju/igq/jgq08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,90},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>daoju/igq/jgq11.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,72},{23,41}}</string>
				<key>offset</key>
				<string>{-85,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq12.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,62},{34,40}}</string>
				<key>offset</key>
				<string>{-79,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{206,108}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq14.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{205,69}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq15.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,62},{164,73}}</string>
				<key>offset</key>
				<string>{-26,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq16.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1},{204,61}}</string>
				<key>offset</key>
				<string>{-7,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq17.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1},{224,59}}</string>
				<key>offset</key>
				<string>{2,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,117}</string>
			</dict>
			<key>daoju/igq/jgq23.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,90},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>daoju/igq/jgq24.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,90},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>daoju/igq/jgq25.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,72},{15,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>daoju/igq/jgq26.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,76},{227,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jgq.png</string>
			<key>realTextureFileName</key>
			<string>jgq.png</string>
			<key>size</key>
			<string>{1014,137}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>137</integer>
		</dict>
	</dict>
</plist>