<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daoju/jiu/jiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,83}</string>
			</dict>
			<key>daoju/jiu/jiu01.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{82,52}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu02.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,55},{69,48}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,139},{71,44}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu04.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,55},{77,47}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu05.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1},{72,52}}</string>
				<key>offset</key>
				<string>{10,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu06.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,104},{65,49}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu07.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,105},{69,45}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
			<key>daoju/jiu/jiu08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,86},{71,51}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jiu.png</string>
			<key>realTextureFileName</key>
			<string>jiu.png</string>
			<key>size</key>
			<string>{240,184}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>184</integer>
		</dict>
	</dict>
</plist>