<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daoju/feidao/Katana_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{183,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,145}</string>
			</dict>
			<key>daoju/feidao/ray1_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1},{168,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,117}</string>
			</dict>
			<key>daoju/feidao/ray1_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1},{134,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,101}</string>
			</dict>
			<key>daoju/feidao/zjz.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1},{134,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,101}</string>
			</dict>
			<key>daoju/feidao/henji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,72},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,32}</string>
			</dict>
			<key>daoju/feidao/henji3.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{14,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,37}</string>
			</dict>
			<key>daoju/feidao/Katana_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>daoju/feidao/Katana_s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,72},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>daoju/feidao/Katana_s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>knife.png</string>
			<key>realTextureFileName</key>
			<string>knife.png</string>
			<key>size</key>
			<string>{839,147}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>839</integer>
			<key>height</key>
			<integer>147</integer>
		</dict>
	</dict>
</plist>