<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daoju/zhutou/zhutou01.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1},{94,60}}</string>
				<key>offset</key>
				<string>{3,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,110}</string>
			</dict>
			<key>daoju/zhutou/zhutou02.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1},{114,87}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,110}</string>
			</dict>
			<key>daoju/zhutou/zhutou03.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1},{123,99}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,110}</string>
			</dict>
			<key>daoju/zhutou/zhutou04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{126,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,110}</string>
			</dict>
			<key>daoju/zhutou/zhutou05.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1},{116,90}}</string>
				<key>offset</key>
				<string>{-5,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,110}</string>
			</dict>
			<key>daoju/zhutou/zhutou06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1},{88,82}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>
			<key>daoju/zhutou/zhutou06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{70,38}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>
			<key>daoju/zhutou/zhutou06_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,63},{56,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,30}</string>
			</dict>
			<key>daoju/zhutou/zhutou06_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,37},{45,40}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,82}</string>
			</dict>
			<key>daoju/zhutou/zhutou07.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,63},{21,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,34}</string>
			</dict>
			<key>daoju/zhutou/zhutou08.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,63},{7,11}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,34}</string>
			</dict>
			<key>daoju/zhutou/zhutou09.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,37},{33,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>daoju/zhutou/zi_sd.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,112},{38,19}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>daoju/zhutou/zi_sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,107},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>daoju/zhutou/zi_wf.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,93},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>daoju/zhutou/zhutou06_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1},{87,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,34}</string>
			</dict>
			<key>daoju/zhutou/zi_gskh.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,90},{77,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,20}</string>
			</dict>
			<key>daoju/zhutou/zi_gsp.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,95},{58,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,20}</string>
			</dict>
			<key>daoju/zhutou/zi_hdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,93},{58,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,20}</string>
			</dict>
			<key>daoju/zhutou/zi_hhqxd.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,85},{80,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,20}</string>
			</dict>
			<key>daoju/zhutou/zi_sgsp.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,107},{76,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhutou.png</string>
			<key>realTextureFileName</key>
			<string>zhutou.png</string>
			<key>size</key>
			<string>{834,132}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>834</integer>
			<key>height</key>
			<integer>132</integer>
		</dict>
	</dict>
</plist>