<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/shou/shou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,78},{64,59}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>daoju/shou/shou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{63,75}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>shou.png</string>
      <key>realTextureFileName</key>
      <string>shou.png</string>
      <key>size</key>
      <string>{66,138}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>66</integer>
      <key>height</key>
      <integer>138</integer>
    </dict>
  </dict>
</plist>

