<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>setting/newimg/btn_clean.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{105,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{105,87}</string>
      </dict>
      <key>setting/newimg/img_help.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,1},{105,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{105,87}</string>
      </dict>
      <key>setting/newimg/img_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,1},{4,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{4,380}</string>
      </dict>
      <key>setting/newimg/img_manage.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,1},{105,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{105,87}</string>
      </dict>
      <key>setting/newimg/img_msic_close.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,1},{138,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{138,40}</string>
      </dict>
      <key>setting/newimg/img_msic_open.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,1},{138,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{138,40}</string>
      </dict>
      <key>setting/newimg/img_music.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,81},{21,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,23}</string>
      </dict>
      <key>setting/newimg/img_phone_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,81},{54,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,31}</string>
      </dict>
      <key>setting/newimg/img_protol.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1},{105,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{105,87}</string>
      </dict>
      <key>setting/newimg/img_show.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,43},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>setting/newimg/img_effect.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,81},{22,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>setting/newimg/img_clubInvite.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,43},{33,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,23}</string>
      </dict>
      <key>setting/newimg/block_volum.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,43},{52,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,34}</string>
      </dict>
      <key>setting/newimg/img_volum.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,81},{21,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,29}</string>
      </dict>
      <key>setting/newimg/slider_volum.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,1},{173,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{173,28}</string>
      </dict>
      <key>setting/newimg/slider_progress.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,31},{173,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{173,28}</string>
      </dict>
      <key>setting/newimg/txt_btn_exhange.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,1},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>setting/newimg/txt_btn_game.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,39},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>setting/newimg/txt_btn_quit.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,43},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>set.png</string>
      <key>realTextureFileName</key>
      <string>set.png</string>
      <key>size</key>
      <string>{1018,382}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1018</integer>
      <key>height</key>
      <integer>382</integer>
    </dict>
  </dict>
</plist>

