<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/animation/continueTable/btn_zlyj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{108,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,70}</string>
			</dict>
			<key>hallClub/animation/continueTable/btn_zlyj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,0},{92,30}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,70}</string>
			</dict>
			<key>hallClub/animation/continueTable/btn_zlyj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,0},{45,16}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,70}</string>
			</dict>
			<key>hallClub/animation/continueTable/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{109,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>continueTableAnim.png</string>
			<key>realTextureFileName</key>
			<string>continueTableAnim.png</string>
			<key>size</key>
			<string>{354,69}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>354</integer>
			<key>height</key>
			<integer>69</integer>
		</dict>
	</dict>
</plist>