<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>penghu_onwer/prime/imgs/btn/arrow1.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,111},{99,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,79}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_apply_dismissroom.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,672},{355,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{355,134}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,111},{73,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{73,92}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_cancel.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,111},{164,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{164,82}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_cjfj.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,672},{342,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{342,145}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_comfirm.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,485},{164,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{164,82}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_jxyx.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,325},{179,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{179,78}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_lkyx.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,405},{179,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{179,78}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_look_cards.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,499},{92,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{92,96}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_setting_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,268},{94,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,48}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_setting_h.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,602},{94,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,48}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_setting_n.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,435},{94,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,48}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_title_cjjl.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{669,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{669,108}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_title_wdzj.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,1},{669,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{669,108}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/close1.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,404},{104,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,93}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_add.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,261},{54,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{54,51}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_aggree.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,898},{170,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{170,83}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_buy.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,808},{181,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{181,79}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_empty.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,1},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_game_group.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,898},{225,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{225,85}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_help.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,485},{98,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_message.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,318},{98,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_notice_active.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,1},{669,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{669,108}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_notice_gonggao.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,1},{669,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{669,108}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_notice_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,808},{317,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{317,88}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_notice_selected.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,808},{317,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{317,88}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_record.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,485},{98,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_reject.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,491},{170,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{170,83}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_reward.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,111},{221,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{221,126}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_seting.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,314},{98,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_share.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,192},{98,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_shop.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,268},{119,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,55}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/pengyouquan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,334},{155,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/weixin.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,111},{155,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,155}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_my_room.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,672},{342,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{342,145}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_dk_fx.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,485},{114,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{114,93}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_dk_fx_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,309},{114,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{114,93}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_dk_js.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,195},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_dk_js_s.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,602},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_quick_create.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,898},{209,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{209,103}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_create.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,491},{170,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{170,83}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_login_out.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,672},{355,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{355,134}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/btn_scale9_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,195},{63,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/first_page.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,260},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/last_page.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,195},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/nest_page.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,602},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
      <key>penghu_onwer/prime/imgs/btn/pre_page.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,431},{49,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>btn.png</string>
      <key>realTextureFileName</key>
      <string>btn.png</string>
      <key>size</key>
      <string>{1019,1015}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1019</integer>
      <key>height</key>
      <integer>1015</integer>
    </dict>
  </dict>
</plist>

