<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>common/gameRule/ck_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,58},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/ck_bg_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,58},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/ck_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,58},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/ck_flag_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,118},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/combox_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,112},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/combox_drop_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,53},{82,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>common/gameRule/combox_drop_sel.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,114},{18,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{18,45}</string>
      </dict>
      <key>common/gameRule/combox_item.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,1},{236,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,51}</string>
      </dict>
      <key>common/gameRule/help_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,53},{118,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{118,77}</string>
      </dict>
      <key>common/gameRule/help_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,53},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>common/gameRule/img_jia_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,114},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/img_jia_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,132},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/img_jian_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,165},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/img_jian_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,132},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/img_point_block.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,178},{48,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{48,51}</string>
      </dict>
      <key>common/gameRule/img_point_dot.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,54},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>common/gameRule/img_point_dot_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,89},{34,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{34,33}</string>
      </dict>
      <key>common/gameRule/img_point_group_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,58},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>common/gameRule/img_point_group_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,53},{10,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{10,2}</string>
      </dict>
      <key>common/gameRule/img_point_group_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,114},{26,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{26,8}</string>
      </dict>
      <key>common/gameRule/img_point_group_unselecett.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,132},{26,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{26,8}</string>
      </dict>
      <key>common/gameRule/img_select_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,1},{245,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{245,50}</string>
      </dict>
      <key>common/gameRule/rd_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,118},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/rd_bg_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,118},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/rd_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,1},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/rd_flag_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,54},{58,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>common/gameRule/rule_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,58},{10,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{10,2}</string>
      </dict>
      <key>common/gameRule/input_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{245,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{245,55}</string>
      </dict>
      <key>common/gameRule/img_jian_normal2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,178},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>common/gameRule/img_jia_normal2.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,178},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gameRule.png</string>
      <key>realTextureFileName</key>
      <string>gameRule.png</string>
      <key>size</key>
      <string>{795,230}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>795</integer>
      <key>height</key>
      <integer>230</integer>
    </dict>
  </dict>
</plist>

