<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/member/img/img_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{237,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,96}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,2},{237,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,96}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,2},{118,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,96}</string>
			</dict>
			<key>hallClub/img/member/img/img_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,2},{118,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,96}</string>
			</dict>
			<key>hallClub/img/member/img/img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,2},{167,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,41}</string>
			</dict>
			<key>hallClub/img/member/img/img_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,47},{83,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,48}</string>
			</dict>
			<key>hallClub/img/member/img/img_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,101},{33,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,37}</string>
			</dict>
			<key>hallClub/img/member/img/img_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,87},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>hallClub/img/member/img/img_sub_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,102},{33,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,37}</string>
			</dict>
			<key>hallClub/img/member/img/img_sub_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,123},{37,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,14}</string>
			</dict>
			<key>hallClub/img/member/img/img_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,128},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>hallClub/img/member/img/img_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,2},{84,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,45}</string>
			</dict>
			<key>hallClub/img/member/img/img_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,2},{32,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,97},{20,45}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,47},{30,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,51},{31,46}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,47},{32,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,52},{31,46}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,83},{32,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,51},{32,45}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,95},{32,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>hallClub/img/member/img/img_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,95},{32,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubInputNum.png</string>
			<key>realTextureFileName</key>
			<string>HallClubInputNum.png</string>
			<key>size</key>
			<string>{1021,146}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>146</integer>
		</dict>
	</dict>
</plist>