<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/common/img_applyAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,496},{126,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,38}</string>
			</dict>
			<key>hallClub/img/common/img_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,407},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,36}</string>
			</dict>
			<key>hallClub/img/common/img_prevent.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,285},{207,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,38}</string>
			</dict>
			<key>hallClub/img/common/img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,2},{580,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{580,31}</string>
			</dict>
			<key>hallClub/img/common/img_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,255},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>hallClub/img/common/bg_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,2},{279,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,51}</string>
			</dict>
			<key>hallClub/img/common/bg_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,2},{298,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,54}</string>
			</dict>
			<key>hallClub/img/common/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallClub/img/common/btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,304},{99,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,35}</string>
			</dict>
			<key>hallClub/img/common/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubCommon.png</string>
			<key>realTextureFileName</key>
			<string>HallClubCommon.png</string>
			<key>size</key>
			<string>{1001,624}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1001</integer>
			<key>height</key>
			<integer>624</integer>
		</dict>
	</dict>
</plist>