<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hongheihu/imgs/ting/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,31},{26,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,32},{25,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,90},{25,29}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,31},{32,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,265},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,1},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,92},{29,25}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,178},{25,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{27,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{27,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,59},{31,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,293},{26,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,207},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{26,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,123},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,324},{26,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,293},{29,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hongheihu/imgs/ting/img_ting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{42,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ting_card.png</string>
			<key>realTextureFileName</key>
			<string>ting_card.png</string>
			<key>size</key>
			<string>{78,351}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>351</integer>
		</dict>
	</dict>
</plist>