<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/main/common/bg_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,875},{309,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,77}</string>
			</dict>
			<key>hall/main/common/bg_location.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,677},{186,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,45}</string>
			</dict>
			<key>hall/main/common/bg_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,956},{215,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,44}</string>
			</dict>
			<key>hall/main/common/bg_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,867},{70,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,42}</string>
			</dict>
			<key>hall/main/common/bg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,699},{91,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,90}</string>
			</dict>
			<key>hall/main/common/btn_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,860},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,859},{48,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,51}</string>
			</dict>
			<key>hall/main/common/btn_cooperate.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,647},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_harmony.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,668},{143,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,44}</string>
			</dict>
			<key>hall/main/common/btn_join_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,677},{246,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,74}</string>
			</dict>
			<key>hall/main/common/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,2},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,134},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,266},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,398},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_start_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,958},{197,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,61}</string>
			</dict>
			<key>hall/main/common/default_ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{356,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,429}</string>
			</dict>
			<key>hall/main/common/default_mini_game1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,912},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>
			<key>hall/main/common/default_mini_game2.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,544},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>
			<key>hall/main/common/head_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,911},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>hall/main/common/icon_bean.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,761},{43,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,47}</string>
			</dict>
			<key>hall/main/common/icon_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,699},{58,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,43}</string>
			</dict>
			<key>hall/main/common/icon_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,544},{123,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,120}</string>
			</dict>
			<key>hall/main/common/icon_location.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,817},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>hall/main/common/icon_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,544},{129,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,144}</string>
			</dict>
			<key>hall/main/common/icon_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,845},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,30}</string>
			</dict>
			<key>hall/main/common/icon_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,850},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>hall/main/common/more_games.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,717},{80,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,139}</string>
			</dict>
			<key>hall/main/common/more_tricks.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,941},{80,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,183}</string>
			</dict>
			<key>hall/main/common/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,927},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>hall/main/common/red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1004},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>hall/main/common/tips_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,815},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>hall/main/common/bg_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,956},{215,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,42}</string>
			</dict>
			<key>hall/main/common/bg_more_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,717},{103,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,96}</string>
			</dict>
			<key>hall/main/common/btn_agent.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,530},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_guardianship.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,2},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,2},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_report.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,134},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,134},{128,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,48}</string>
			</dict>
			<key>hall/main/common/tips_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,884},{158,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,53}</string>
			</dict>
			<key>hall/main/common/club_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,435},{519,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,161}</string>
			</dict>
			<key>hall/main/common/bg_club_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,677},{203,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,30}</string>
			</dict>
			<key>hall/main/common/bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,435},{105,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,487}</string>
			</dict>
			<key>hall/main/common/club_trends_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,435},{436,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,162}</string>
			</dict>
			<key>hall/main/common/more_club_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,668},{84,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,173}</string>
			</dict>
			<key>hall/main/common/icon_aide_agent.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,544},{169,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,169}</string>
			</dict>
			<key>hall/main/common/btn_aide_agent.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,817},{76,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,62}</string>
			</dict>
			<key>hall/main/common/btn_apply_agent.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,793},{76,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallMainCommonPlist.png</string>
			<key>realTextureFileName</key>
			<string>HallMainCommonPlist.png</string>
			<key>size</key>
			<string>{1009,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1009</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>