<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>0-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>1-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,194},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,388},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,582},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,776},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>2-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,0},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,151},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,345},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,539},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,733},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,151},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,151},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,151},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,151},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,302},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,496},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,690},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>3-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,302},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,302},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
			<key>4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,302},{151,194}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,197}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>