<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/relaxation/img/btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,0},{114,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,78}</string>
			</dict>
			<key>hallClub/img/relaxation/img/btn_customMatch.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,0},{114,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,78}</string>
			</dict>
			<key>hallClub/img/relaxation/img/btn_relaxation.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,0},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>hallClub/img/relaxation/img/btn_sendNotice.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,0},{114,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,78}</string>
			</dict>
			<key>hallClub/img/relaxation/img/img_relaxation_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubRelaxation.png</string>
			<key>realTextureFileName</key>
			<string>HallClubRelaxation.png</string>
			<key>size</key>
			<string>{1024,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>