<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/continueTable/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,76},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,74}</string>
			</dict>
			<key>hallClub/img/continueTable/btn_recur.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,2},{210,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,76}</string>
			</dict>
			<key>hallClub/img/continueTable/btn_reject.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,2},{210,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,76}</string>
			</dict>
			<key>hallClub/img/continueTable/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,76},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,38}</string>
			</dict>
			<key>hallClub/img/continueTable/img_recur.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,152},{94,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,36}</string>
			</dict>
			<key>hallClub/img/continueTable/img_reject.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,76},{94,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,36}</string>
			</dict>
			<key>hallClub/img/continueTable/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{431,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,70}</string>
			</dict>
			<key>hallClub/img/continueTable/btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,2},{240,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,72}</string>
			</dict>
			<key>hallClub/img/continueTable/img_share_achieve.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,2},{146,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubContinueTable.png</string>
			<key>realTextureFileName</key>
			<string>HallClubContinueTable.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>