<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>penghu_onwer/table/imgs/btn_ready.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,679},{164,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{164,82}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_replay.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,505},{62,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,65}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_scale9_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,438},{63,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_table_del_room.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,942},{166,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{166,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_table_leave.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,277},{121,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_table_more.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,367},{62,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_table_setting.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1},{121,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,505},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>penghu_onwer/table/imgs/dianchi.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,640},{47,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{47,23}</string>
      </dict>
      <key>penghu_onwer/table/imgs/dianchi_progress.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,689},{38,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{38,17}</string>
      </dict>
      <key>penghu_onwer/table/imgs/doudou.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,357},{54,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{54,51}</string>
      </dict>
      <key>penghu_onwer/table/imgs/flag_zhongzhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,763},{53,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{53,69}</string>
      </dict>
      <key>penghu_onwer/table/imgs/flag_zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,367},{62,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,69}</string>
      </dict>
      <key>penghu_onwer/table/imgs/flag_zz_lz_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,967},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,974},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,69},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,277},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,221},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,114},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,57},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,455},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,500},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,545},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,322},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,266},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,221},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,159},{163,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,43}</string>
      </dict>
      <key>penghu_onwer/table/imgs/huflag_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,374},{226,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{226,125}</string>
      </dict>
      <key>penghu_onwer/table/imgs/img_sub.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,729},{21,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>penghu_onwer/table/imgs/line6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1009},{190,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{190,7}</string>
      </dict>
      <key>penghu_onwer/table/imgs/location_tips1.jpg</key>
      <dict>
        <key>frame</key>
        <string>{{1,374},{300,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{300,320}</string>
      </dict>
      <key>penghu_onwer/table/imgs/player_info_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,834},{311,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{311,173}</string>
      </dict>
      <key>penghu_onwer/table/imgs/scale9bg10.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,435},{53,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{53,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_chi.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,413},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_chouzhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,827},{138,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{138,121}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_fangpao.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,123},{97,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{97,96}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_hu.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,311},{43,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,48}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_kan.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,356},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_pao.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,266},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_peng.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,204},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_sao.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,152},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_tilong.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,92},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>penghu_onwer/table/imgs/qipao.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,367},{81,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{81,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/scale9bg5.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,602},{713,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{713,36}</string>
      </dict>
      <key>penghu_onwer/table/imgs/lose_dianpao_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,766},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/lose_hu_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,640},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/lose_zhongzhuang_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,674},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/win_dianpao_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,821},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/win_hu_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,222},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/win_zhongzhuang_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,123},{151,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>penghu_onwer/table/imgs/img_huxi.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,178},{75,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,41}</string>
      </dict>
      <key>penghu_onwer/table/imgs/game_name.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,834},{371,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{371,106}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_table_my_room.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,766},{166,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{166,66}</string>
      </dict>
      <key>penghu_onwer/table/imgs/fangzhu_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,345},{108,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{108,68}</string>
      </dict>
      <key>penghu_onwer/table/imgs/dianpao.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,821},{115,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,118}</string>
      </dict>
      <key>penghu_onwer/table/imgs/flag_dapaowang.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,102},{48,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{48,100}</string>
      </dict>
      <key>penghu_onwer/table/imgs/progress_record_voice.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,640},{210,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,15}</string>
      </dict>
      <key>penghu_onwer/table/imgs/progress_record_voice_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,657},{210,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,15}</string>
      </dict>
      <key>penghu_onwer/table/imgs/record_voice_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{324,371}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{324,371}</string>
      </dict>
      <key>penghu_onwer/table/imgs/btn_copy.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,681},{227,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{227,83}</string>
      </dict>
      <key>penghu_onwer/table/imgs/title_bejujiesuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,696},{483,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{483,136}</string>
      </dict>
      <key>penghu_onwer/table/imgs/wz_cjfj.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,942},{261,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,76}</string>
      </dict>
      <key>penghu_onwer/table/imgs/txt_kshdlwz.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,640},{250,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{250,39}</string>
      </dict>
      <key>penghu_onwer/table/imgs/txt_pzsz.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,793},{147,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{147,41}</string>
      </dict>
      <key>penghu_onwer/table/imgs/txt_tipbkj.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,640},{171,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{171,37}</string>
      </dict>
      <key>penghu_onwer/table/imgs/frame_select.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,1},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>penghu_onwer/table/imgs/player_info_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,1},{136,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{136,54}</string>
      </dict>
      <key>penghu_onwer/table/imgs/four.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,941},{79,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{79,44}</string>
      </dict>
      <key>penghu_onwer/table/imgs/player_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,178},{143,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{143,41}</string>
      </dict>
      <key>penghu_onwer/table/imgs/three.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,46},{79,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,44}</string>
      </dict>
      <key>penghu_onwer/table/imgs/two.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,311},{79,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{79,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>table_1.png</string>
      <key>realTextureFileName</key>
      <string>table_1.png</string>
      <key>size</key>
      <string>{1024,1021}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1024</integer>
      <key>height</key>
      <integer>1021</integer>
    </dict>
  </dict>
</plist>

