<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>subAppHall/style1new/imgs/zdt_bsts.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_cz_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,504},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_fh_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,597},{185,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,82}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_hsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,796},{241,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,50}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_lb_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,306},{55,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,42}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_sz_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,82},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,80}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_tsqp.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,679},{245,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,50}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_wf_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,162},{68,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,79}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_xfk.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{366,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,67}</string>
			</dict>
			<key>subAppHall/style1new/imgs/zdt_xy_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,82},{44,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,71}</string>
			</dict>
			<key>subAppHall/style1new/imgs/qyq_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{393,498}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,498}</string>
			</dict>
			<key>subAppHall/style1new/imgs/bsc_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{214,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,150}</string>
			</dict>
			<key>subAppHall/style1new/imgs/bsc_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,546},{124,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,48}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jbc_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,498},{125,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,48}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,241},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,796},{229,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,42}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,549},{91,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,48}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,153},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,205},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,257},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,309},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,348},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,400},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,418},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,452},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,470},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,498},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,52}</string>
			</dict>
			<key>subAppHall/style1new/imgs/jrfj_jp_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,361},{76,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist.png</string>
			<key>realTextureFileName</key>
			<string>plist.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>