<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/xxlb/xxlb01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{75,80}}</string>
        <key>offset</key>
        <string>{-20,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,83},{50,80}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb03.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,1},{78,74}}</string>
        <key>offset</key>
        <string>{16,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb04.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,81},{81,50}}</string>
        <key>offset</key>
        <string>{17,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb05.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,142},{81,26}}</string>
        <key>offset</key>
        <string>{17,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb06.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,77},{67,63}}</string>
        <key>offset</key>
        <string>{10,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb07.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,1},{64,78}}</string>
        <key>offset</key>
        <string>{-13,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{115,81}</string>
      </dict>
      <key>daoju/xxlb/xxlb08.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,133},{107,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>xxlb.png</string>
      <key>realTextureFileName</key>
      <string>xxlb.png</string>
      <key>size</key>
      <string>{255,169}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>255</integer>
      <key>height</key>
      <integer>169</integer>
    </dict>
  </dict>
</plist>

