<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/clubSetting/img/img_forbid_player_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{313,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,76}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/btn_delete_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,237},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/btn_add_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,117},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{91,89}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_index_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,315},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/setting_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{961,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{961,114}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/btn_see_introduction.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,117},{141,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,30}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/btn_delete_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,117},{155,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,46}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_top_msg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,214},{67,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,49}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,185},{22,22}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_menber_list_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,117},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,88}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/txt_confirm_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,156},{127,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,36}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_display_cut_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,210},{946,2}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{947,3}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_display_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,117},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/btn_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,117},{166,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,37}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/comp_ztyl_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,283},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/comp_ztyl_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/txt_plhfyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,160},{176,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,35}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/txt_plztyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,165},{196,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,35}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/title_qyq_szvipbj.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1},{234,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,39}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_qyq.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,149},{115,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,34}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/img_vip_people_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,117},{157,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>clubSettingImg.png</string>
			<key>realTextureFileName</key>
			<string>clubSettingImg.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>