<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/zd/zd01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{185,159}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd02.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,146},{173,146}}</string>
        <key>offset</key>
        <string>{2,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,565},{153,103}}</string>
        <key>offset</key>
        <string>{-4,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,436},{161,127}}</string>
        <key>offset</key>
        <string>{-4,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd05.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,1},{174,139}}</string>
        <key>offset</key>
        <string>{-3,-10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd06.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,177},{174,139}}</string>
        <key>offset</key>
        <string>{-3,-10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd07.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,1},{177,143}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd08.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,294},{173,139}}</string>
        <key>offset</key>
        <string>{2,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,162},{174,139}}</string>
        <key>offset</key>
        <string>{3,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd10.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,353},{174,131}}</string>
        <key>offset</key>
        <string>{3,19}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,303},{173,131}}</string>
        <key>offset</key>
        <string>{2,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd12.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,435},{174,128}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd13.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,529},{174,128}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{185,177}</string>
      </dict>
      <key>daoju/zd/zd14.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,565},{96,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{96,103}</string>
      </dict>
      <key>daoju/zd/zd15.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,353},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>daoju/zd/zd16.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,177},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>zd.png</string>
      <key>realTextureFileName</key>
      <string>zd.png</string>
      <key>size</key>
      <string>{509,704}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>509</integer>
      <key>height</key>
      <integer>704</integer>
    </dict>
  </dict>
</plist>

