<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/shayu/sy_s01.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,77},{57,42}}</string>
        <key>offset</key>
        <string>{-15,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>daoju/shayu/sy_s02.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,1},{74,61}}</string>
        <key>offset</key>
        <string>{-10,-15}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>daoju/shayu/sy_s03.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,128},{88,91}}</string>
        <key>offset</key>
        <string>{4,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>daoju/shayu/sy_s04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,256},{79,116}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,116}</string>
      </dict>
      <key>daoju/shayu/sy_s05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{108,135}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,138}</string>
      </dict>
      <key>daoju/shayu/sy_s06.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,1},{91,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{91,138}</string>
      </dict>
      <key>daoju/shayu/sy_s07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,138},{115,116}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,128}</string>
      </dict>
      <key>daoju/shayu/sy_x.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,221},{23,30}}</string>
        <key>offset</key>
        <string>{-18,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_x01.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,474},{37,27}}</string>
        <key>offset</key>
        <string>{10,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_x02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,474},{36,29}}</string>
        <key>offset</key>
        <string>{10,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_x03.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,474},{34,30}}</string>
        <key>offset</key>
        <string>{9,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_x04.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,474},{37,27}}</string>
        <key>offset</key>
        <string>{10,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_x05.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,94},{37,27}}</string>
        <key>offset</key>
        <string>{10,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>daoju/shayu/sy_y01.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,256},{94,94}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y02.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,446},{77,65}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y03.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,94},{79,32}}</string>
        <key>offset</key>
        <string>{4,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y04.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,313},{53,55}}</string>
        <key>offset</key>
        <string>{2,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y05.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,123},{83,75}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y06.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,221},{90,77}}</string>
        <key>offset</key>
        <string>{-4,4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y07.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,352},{92,87}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>daoju/shayu/sy_y08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,374},{98,91}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>shayu.png</string>
      <key>realTextureFileName</key>
      <string>shayu.png</string>
      <key>size</key>
      <string>{313,512}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>313</integer>
      <key>height</key>
      <integer>512</integer>
    </dict>
  </dict>
</plist>

