<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>play_img/gaiban/action/action_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/action_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/action_peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,142},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/action_guo.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,142},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/zi_mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{357,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,142}</string>
			</dict>
			<key>play_img/gaiban/action/qianggang.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{357,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,142}</string>
			</dict>
			<key>play_img/gaiban/action/action_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,142},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/opt_bu.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,162},{178,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,162}</string>
			</dict>
			<key>play_img/gaiban/action/opt_yaose.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,0},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gaiban_action.png</string>
			<key>realTextureFileName</key>
			<string>gaiban_action.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>