<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/gou/gou01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,143},{141,114}}</string>
        <key>offset</key>
        <string>{-6,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou02.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,387},{142,105}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,286},{146,109}}</string>
        <key>offset</key>
        <string>{3,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou04.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,143},{132,112}}</string>
        <key>offset</key>
        <string>{7,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{140,115}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou06.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,1},{131,105}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{152,118}</string>
      </dict>
      <key>daoju/gou/gou07.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,1},{87,97}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,98}</string>
      </dict>
      <key>daoju/gou/gou08.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,286},{156,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{160,99}</string>
      </dict>
      <key>daoju/gou/gou09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,434},{126,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{126,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gou.png</string>
      <key>realTextureFileName</key>
      <string>gou.png</string>
      <key>size</key>
      <string>{313,508}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>313</integer>
      <key>height</key>
      <integer>508</integer>
    </dict>
  </dict>
</plist>

