<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hongheihu/imgs/cards/b_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,238},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,344},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,1},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,107},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,489},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,213},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,319},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,1},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,107},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,595},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,755},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,517},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,517},{78,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,236}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,754},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,1},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,238},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,514},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,751},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,1},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_fp_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,238},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,475},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/b_s_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,450},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/card_back_big.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,514},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/card_black_middle.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,701},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/card_black_small.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,450},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,807},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,913},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,464},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,213},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,319},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,1},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,107},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,213},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,319},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,1},{86,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,104}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,751},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,238},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,514},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,751},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,1},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,238},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,514},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,751},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_fp_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,1},{78,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,235}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card1.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,425},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card10.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,425},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card2.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,425},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card3.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,425},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card4.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,425},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card5.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,107},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card6.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,146},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card7.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,1},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card8.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,1},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/s_s_card9.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hongheihu/imgs/cards/card_light.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{99,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,256}</string>
      </dict>
      <key>hongheihu/imgs/cards/card_light2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,259},{99,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>cards.png</string>
      <key>realTextureFileName</key>
      <string>cards.png</string>
      <key>size</key>
      <string>{970,1018}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>970</integer>
      <key>height</key>
      <integer>1018</integer>
    </dict>
  </dict>
</plist>

