<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/clubSetting/img/icon/add_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1},{63,67}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/banned_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,121},{51,66}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/banned_wx_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,66},{55,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/big_win_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,65},{60,60}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/change_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,60},{61,62}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/clear_fatigue_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1},{67,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/desk_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,66},{66,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/diss_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{71,53}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/diss_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,222},{50,63}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/exit_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,132},{66,63}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/fatigue_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1},{62,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/freeze_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,197},{52,61}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/fu_card_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,70},{77,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/match_top_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,66},{64,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/private_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,140},{56,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/quit_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1},{68,57}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/reward_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{77,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/score_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{64,60}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/sps_position.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,65},{61,60}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/thaw_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,123},{52,64}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/time_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,123},{53,57}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/batch_edit_fu_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{69,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/batch_edit_tired.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1},{70,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/gruop_belong.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,58},{67,63}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/game_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,67},{71,59}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/online_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>hallClub/img/clubSetting/img/icon/club_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{63,62}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icon.png</string>
			<key>realTextureFileName</key>
			<string>icon.png</string>
			<key>size</key>
			<string>{693,286}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>693</integer>
			<key>height</key>
			<integer>286</integer>
		</dict>
	</dict>
</plist>