<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/weChatBinding/btn_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{211,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,102}</string>
			</dict>
			<key>hallClub/img/weChatBinding/btn_identifyingCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{145,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,54}</string>
			</dict>
			<key>hallClub/img/weChatBinding/btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>hallClub/img/weChatBinding/img_countDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{123,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,29}</string>
			</dict>
			<key>hallClub/img/weChatBinding/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{841,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{841,2}</string>
			</dict>
			<key>hallClub/img/weChatBinding/s.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,217},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>hallClub/img/weChatBinding/btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{145,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>weChatBinding.png</string>
			<key>realTextureFileName</key>
			<string>weChatBinding.png</string>
			<key>size</key>
			<string>{994,251}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>994</integer>
			<key>height</key>
			<integer>251</integer>
		</dict>
	</dict>
</plist>