<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>common/gameRule2/ck_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,92},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/ck_bg_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,103},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/ck_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,104},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/ck_flag_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,103},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/combox_drop_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,54},{82,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>common/gameRule2/combox_item.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,1},{236,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,51}</string>
      </dict>
      <key>common/gameRule2/help_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,1},{101,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{101,107}</string>
      </dict>
      <key>common/gameRule2/help_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,144},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>common/gameRule2/img_jia_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,58},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_jia_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,58},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_jia_normal2.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,58},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_jian_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,58},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_jian_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,92},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_jian_normal2.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,92},{43,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{43,44}</string>
      </dict>
      <key>common/gameRule2/img_select_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,54},{135,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{135,36}</string>
      </dict>
      <key>common/gameRule2/rd_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,103},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/rd_bg_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,103},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/rd_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,144},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/rd_flag_un.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,145},{39,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{39,39}</string>
      </dict>
      <key>common/gameRule2/combox_btn.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,58},{44,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{44,46}</string>
      </dict>
      <key>common/gameRule2/combox_drop_sel.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,103},{18,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{18,45}</string>
      </dict>
      <key>common/gameRule2/input_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{245,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{245,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>gameRule2.png</string>
      <key>realTextureFileName</key>
      <string>gameRule2.png</string>
      <key>size</key>
      <string>{594,185}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>594</integer>
      <key>height</key>
      <integer>185</integer>
    </dict>
  </dict>
</plist>

