<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hall/img/btn/btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,65},{104,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,58}</string>
			</dict>
			<key>hall/img/btn/btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,104}</string>
			</dict>
			<key>hall/img/btn/dt_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1},{2,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,69}</string>
			</dict>
			<key>hall/img/btn/btn_backpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,65},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,53}</string>
			</dict>
			<key>hall/img/btn/btn_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,107},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,53}</string>
			</dict>
			<key>hall/img/btn/btn_more_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_realName.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,107},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,53}</string>
			</dict>
			<key>hall/img/btn/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,65},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,53}</string>
			</dict>
			<key>hall/img/btn/btn_shangwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>hall/img/btn/btn_tuiguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,65},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btn.png</string>
			<key>realTextureFileName</key>
			<string>btn.png</string>
			<key>size</key>
			<string>{1020,243}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>243</integer>
		</dict>
	</dict>
</plist>