<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/seat/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{338,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,108}</string>
			</dict>
			<key>hallClub/img/seat/btn_enterTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,57},{88,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,69}</string>
			</dict>
			<key>hallClub/img/seat/btn_quitTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,57},{87,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,73}</string>
			</dict>
			<key>hallClub/img/seat/btn_seat.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{54,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,184}</string>
			</dict>
			<key>hallClub/img/seat/btn_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,128},{92,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,53}</string>
			</dict>
			<key>hallClub/img/seat/img_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1},{218,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,108}</string>
			</dict>
			<key>hallClub/img/seat/img_location.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,106},{32,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,42}</string>
			</dict>
			<key>hallClub/img/seat/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{335,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,3}</string>
			</dict>
			<key>hallClub/img/seat/people.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,106},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>
			<key>hallClub/img/seat/img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1},{103,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,118}</string>
			</dict>
			<key>hallClub/img/seat/img_bg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{103,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubSeat.png</string>
			<key>realTextureFileName</key>
			<string>HallClubSeat.png</string>
			<key>size</key>
			<string>{991,337}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>991</integer>
			<key>height</key>
			<integer>337</integer>
		</dict>
	</dict>
</plist>