<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>common/deng/deng.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{421,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{421,151}</string>
      </dict>
      <key>common/deng/Deng_hong2.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,1},{87,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,54}</string>
      </dict>
      <key>common/deng/Deng_huang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,1},{102,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>common/deng/Deng_lan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,1},{88,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,55}</string>
      </dict>
      <key>common/deng/Deng_yuan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,1},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>deng.png</string>
      <key>realTextureFileName</key>
      <string>deng.png</string>
      <key>size</key>
      <string>{785,153}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>785</integer>
      <key>height</key>
      <integer>153</integer>
    </dict>
  </dict>
</plist>

