<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/tuoxie/g1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,470},{291,283}}</string>
        <key>offset</key>
        <string>{-29,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{550,550}</string>
      </dict>
      <key>daoju/tuoxie/g2.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,1},{486,482}}</string>
        <key>offset</key>
        <string>{-9,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{550,550}</string>
      </dict>
      <key>daoju/tuoxie/g3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{532,467}}</string>
        <key>offset</key>
        <string>{-8,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{550,550}</string>
      </dict>
      <key>daoju/tuoxie/tx1.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,470},{176,277}}</string>
        <key>offset</key>
        <string>{-40,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{257,316}</string>
      </dict>
      <key>daoju/tuoxie/tx2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,749},{200,243}}</string>
        <key>offset</key>
        <string>{-2,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{257,316}</string>
      </dict>
      <key>daoju/tuoxie/tx3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,755},{219,205}}</string>
        <key>offset</key>
        <string>{19,-55}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{257,316}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>tuoxie.png</string>
      <key>realTextureFileName</key>
      <string>tuoxie.png</string>
      <key>size</key>
      <string>{1022,993}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>1022</integer>
      <key>height</key>
      <integer>993</integer>
    </dict>
  </dict>
</plist>

