<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1834},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1605},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1376},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1147},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,918},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,689},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,654},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,654},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,654},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,654},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,654},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1473},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1244},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1015},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,786},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,491},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,491},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,491},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,491},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,557},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,491},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,460},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,328},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1834},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1605},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1376},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1147},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,918},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,689},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,460},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,231},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,165},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1834},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1605},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1376},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1147},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,918},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,689},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,460},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,231},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>dawang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1605},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>laizicard_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,918},{153,219}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{153,219}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
            <key>xiaowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,227}}</string>
                <key>sourceSize</key>
                <string>{163,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5639abcf2e6fed382a21dd575b5a413$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
