<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/partner/img/bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{25,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,360}</string>
			</dict>
			<key>hallClub/img/partner/img/bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,751},{55,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,104}</string>
			</dict>
			<key>hallClub/img/partner/img/img_accept.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,501},{63,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,33}</string>
			</dict>
			<key>hallClub/img/partner/img/img_accept_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,408},{127,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,37}</string>
			</dict>
			<key>hallClub/img/partner/img/img_add_partner.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,860},{147,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,35}</string>
			</dict>
			<key>hallClub/img/partner/img/img_club.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,674},{292,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,75}</string>
			</dict>
			<key>hallClub/img/partner/img/img_club_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,674},{220,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,48}</string>
			</dict>
			<key>hallClub/img/partner/img/img_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,536},{69,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,35}</string>
			</dict>
			<key>hallClub/img/partner/img/img_online_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,804},{166,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,41}</string>
			</dict>
			<key>hallClub/img/partner/img/img_partner_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,811},{178,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,41}</string>
			</dict>
			<key>hallClub/img/partner/img/img_relieve_partner.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,408},{177,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,41}</string>
			</dict>
			<key>hallClub/img/partner/img/img_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,534},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>hallClub/img/partner/img/img_search_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,501},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>hallClub/img/partner/img/img_sel_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,363},{309,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{309,101}</string>
			</dict>
			<key>hallClub/img/partner/img/img_select_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,536},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>hallClub/img/partner/img/img_select_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,576},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hallClub/img/partner/img/img_sended.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,632},{146,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,35}</string>
			</dict>
			<key>hallClub/img/partner/img/img_setting_partner.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,825},{217,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,33}</string>
			</dict>
			<key>hallClub/img/partner/img/img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,981},{72,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,41}</string>
			</dict>
			<key>hallClub/img/partner/img/invite_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,408},{126,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,38}</string>
			</dict>
			<key>hallClub/img/partner/img/line_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,363},{462,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,3}</string>
			</dict>
			<key>hallClub/img/partner/img/line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{831,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{831,43}</string>
			</dict>
			<key>hallClub/img/partner/img/line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{995,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{995,43}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_cylb_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,549},{187,42}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_cylb_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{191,44}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_fxyq_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,804},{175,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,64}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_fxyq_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,587},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_hhrxx_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,593},{197,37}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_hhrxx_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,860},{201,39}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,50}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_jc_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,738},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_of_hhr_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,363},{439,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,62}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_of_hhr_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{439,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,62}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_on_hhr_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,901},{439,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,62}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_on_hhr_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,674},{439,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,62}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_tjhhr_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,965},{183,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,58}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_tpcy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,751},{183,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,58}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_xq_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,408},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_zxyq_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,738},{175,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,64}</string>
			</dict>
			<key>hallClub/img/partner/img/qyq_zxyq_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,484},{113,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,34}</string>
			</dict>
			<key>hallClub/img/partner/img/cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,536},{63,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,33}</string>
			</dict>
			<key>hallClub/img/partner/img/img_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,558},{64,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,34}</string>
			</dict>
			<key>hallClub/img/partner/img/img_ju.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,408},{66,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,27}</string>
			</dict>
			<key>hallClub/img/partner/img/btn_unbind.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,624},{63,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,34}</string>
			</dict>
			<key>hallClub/img/partner/img/jlb_czjl_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,965},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>hallClub/img/partner/img/jlb_czjl_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,408},{124,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,31}</string>
			</dict>
			<key>hallClub/img/partner/img/jlb_jchh_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,601},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>hallClub/img/partner/img/img_light_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,965},{531,45}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,66}</string>
			</dict>
			<key>hallClub/img/partner/img/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,363},{536,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{536,14}</string>
			</dict>
			<key>hallClub/img/partner/img/img_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,827},{10,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,3}</string>
			</dict>
			<key>hallClub/img/partner/img/img_set_team_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,632},{164,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,33}</string>
			</dict>
			<key>hallClub/img/partner/img/img_add_captain.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,447},{119,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,35}</string>
			</dict>
			<key>hallClub/img/partner/img/tab_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,674},{184,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,94}</string>
			</dict>
			<key>hallClub/img/partner/img/tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,738},{165,94}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,94}</string>
			</dict>
			<key>hallClub/img/partner/img/zj_dlmgl_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,860},{239,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,45}</string>
			</dict>
			<key>hallClub/img/partner/img/zj_dlmgl_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,860},{235,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,45}</string>
			</dict>
			<key>hallClub/img/partner/img/frame_zxyq_wdqyqd_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,601},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,44}</string>
			</dict>
			<key>hallClub/img/partner/img/comp_zxyq_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,363},{293,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,1}</string>
			</dict>
			<key>hallClub/img/partner/img/comp_tjdz_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,896},{122,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,44}</string>
			</dict>
			<key>hallClub/img/partner/img/add_partner.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,674},{207,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,41}</string>
			</dict>
			<key>hallClub/img/partner/img/title_add_captain.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,408},{166,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,41}</string>
			</dict>
			<key>hallClub/img/partner/img/btn_add_team.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,408},{139,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>partner.png</string>
			<key>realTextureFileName</key>
			<string>partner.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>