<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gamerecord/recordimg/btn_share_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{270,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_share_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,515},{180,74}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/bg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,588},{286,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,98}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,210},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,249},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/img_daily_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{518,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,291}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/img_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,546},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/img_today.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,396},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>gamerecord/recordimg/helperrecord/img_week_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,774},{530,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,55}</string>
			</dict>
			<key>gamerecord/recordimg/personrecordimg/img_big_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,379},{92,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>gamerecord/recordimg/personrecordimg/img_core_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,581},{184,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,100}</string>
			</dict>
			<key>gamerecord/recordimg/personrecordimg/img_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,294},{505,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{505,100}</string>
			</dict>
			<key>gamerecord/recordimg/personrecordimg/img_owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,253},{31,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,68}</string>
			</dict>
			<key>gamerecord/recordimg/personrecordimg/img_share_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1},{220,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,105}</string>
			</dict>
			<key>gamerecord/recordimg/btn_club_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,635},{150,77}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_club_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,117},{270,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_enter_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,683},{245,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,93}</string>
			</dict>
			<key>gamerecord/recordimg/btn_enter_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,667},{245,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,93}</string>
			</dict>
			<key>gamerecord/recordimg/btn_help_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,591},{179,74}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_help_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,233},{270,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_person_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,327},{119,78}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_person_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,349},{270,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,470},{71,74}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,75}</string>
			</dict>
			<key>gamerecord/recordimg/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,470},{71,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,75}</string>
			</dict>
			<key>gamerecord/recordimg/btn_wait_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,714},{150,69}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_wait_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,396},{270,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,114}</string>
			</dict>
			<key>gamerecord/recordimg/btn_weixin_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,512},{244,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,121}</string>
			</dict>
			<key>gamerecord/recordimg/btn_weixin_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,465},{244,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,121}</string>
			</dict>
			<key>gamerecord/recordimg/img_big_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,475},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>
			<key>gamerecord/recordimg/img_core.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,509},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>
			<key>gamerecord/recordimg/img_cust.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,543},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>
			<key>gamerecord/recordimg/img_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,730},{173,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,42}</string>
			</dict>
			<key>gamerecord/recordimg/img_infor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,108},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>gamerecord/recordimg/img_inform.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,688},{188,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,40}</string>
			</dict>
			<key>gamerecord/recordimg/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{1,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,99}</string>
			</dict>
			<key>gamerecord/recordimg/img_owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,547},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>
			<key>gamerecord/recordimg/img_word_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{569,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,90}</string>
			</dict>
			<key>gamerecord/recordimg/ing_winner_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,407},{148,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,61}</string>
			</dict>
			<key>gamerecord/recordimg/man_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,288},{23,21}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>gamerecord/recordimg/bg_infoOpt.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,396},{165,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,117}</string>
			</dict>
			<key>gamerecord/recordimg/bg_infoNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,210},{54,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,115}</string>
			</dict>
			<key>gamerecord/recordimg/btn_exist.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,464},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>gamerecord/recordimg/img_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,253},{101,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,124}</string>
			</dict>
			<key>gamerecord/recordimg/word_bg_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,108},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameRecord.png</string>
			<key>realTextureFileName</key>
			<string>GameRecord.png</string>
			<key>size</key>
			<string>{1023,922}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>922</integer>
		</dict>
	</dict>
</plist>