<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hongheihu/imgs/operateCard/opt_chi_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>hongheihu/imgs/operateCard/opt_guo.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>hongheihu/imgs/operateCard/opt_hu_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>hongheihu/imgs/operateCard/opt_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>hongheihu/imgs/operateCard/opt_peng_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,115},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>hongheihu/imgs/operateCard/play_ctrl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{480,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>operateCard.png</string>
			<key>realTextureFileName</key>
			<string>operateCard.png</string>
			<key>size</key>
			<string>{970,228}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>970</integer>
			<key>height</key>
			<integer>228</integer>
		</dict>
	</dict>
</plist>