<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/achieve/img/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,106},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_ax.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,355},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,130},{2,45}}</string>
				<key>offset</key>
				<string>{-229,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,47}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{411,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,109}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_tjcy.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,112},{178,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_zk_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,320},{50,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_djxq_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,130},{2,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,91}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_djxq_hsd.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,440},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_djxq_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,200},{147,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,39}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_djxq_zzfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_hf_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,112},{165,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_ss_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,388},{135,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_ss_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,267},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_zj_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,206},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_djxq_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,259},{85,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,91}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_dyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{96,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,27}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,130},{2,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,85}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_fx_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,200},{165,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_pjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,171},{96,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,27}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_plz.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,263},{96,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,29}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_py_jyd.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,171},{96,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,27}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_py_kzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,263},{96,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,28}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_py_xhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,294},{96,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,28}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_qyqzj_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,112},{224,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_qyqzj_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,279},{221,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_shu_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,259},{66,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_sm_y_on_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{370,57}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{372,62}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_sm_z_on_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,112},{369,57}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,62}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_wdzj_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,373},{183,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_wdzj_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,161},{180,43}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_yin_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,346},{66,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_zan_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,206},{55,56}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_zan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,206},{55,56}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_zb_off_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1},{197,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,110}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_zb_on_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{197,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,110}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_zj_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1},{411,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,109}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_cy_ax_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,401},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_zj_xdk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{190,111}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,112}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,349},{60,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,35}</string>
			</dict>
			<key>hallClub/img/achieve/img/img_current.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,372},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>hallClub/img/achieve/img/btn_selectDate.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,367},{148,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,56}</string>
			</dict>
			<key>hallClub/img/achieve/img/img_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,130},{1,1}}</string>
				<key>offset</key>
				<string>{32,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>hallClub/img/achieve/img/jlb_zj_on_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,200},{370,57}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,62}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_tab_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,130},{2,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,55}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_bjzj_off_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,200},{186,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_bjzj_on_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,373},{183,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,45}</string>
			</dict>
			<key>hallClub/img/achieve/img/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,112},{274,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,47}</string>
			</dict>
			<key>hallClub/img/achieve/img/img_fu_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,355},{66,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,29}</string>
			</dict>
			<key>hallClub/img/achieve/img/img_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,171},{66,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,27}</string>
			</dict>
			<key>hallClub/img/achieve/img/img_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,171},{66,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,27}</string>
			</dict>
			<key>hallClub/img/achieve/img/zj_py_xhfk.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,161},{129,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>achieve.png</string>
			<key>realTextureFileName</key>
			<string>achieve.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>