<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>common/title_img/game_manager.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,50},{167,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,41}</string>
      </dict>
      <key>common/title_img/help.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,86},{166,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{166,41}</string>
      </dict>
      <key>common/title_img/kefu.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,86},{167,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,41}</string>
      </dict>
      <key>common/title_img/person_info_center.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,1},{244,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{244,38}</string>
      </dict>
      <key>common/title_img/protocol.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,93},{166,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{166,41}</string>
      </dict>
      <key>common/title_img/tip.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,179},{148,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,42}</string>
      </dict>
      <key>common/title_img/setting.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,389},{99,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,41}</string>
      </dict>
      <key>common/title_img/suggest.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,261},{146,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{146,39}</string>
      </dict>
      <key>common/title_img/person_info.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,217},{148,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,42}</string>
      </dict>
      <key>common/title_img/title_join_club.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,217},{178,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{178,34}</string>
      </dict>
      <key>common/title_img/title_join_club_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,41},{197,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{197,38}</string>
      </dict>
      <key>common/title_img/btn_redo.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,343},{94,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{94,52}</string>
      </dict>
      <key>common/title_img/btn_delete.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,343},{81,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{81,57}</string>
      </dict>
      <key>common/title_img/create_game.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1},{203,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{203,45}</string>
      </dict>
      <key>common/title_img/quick_create.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,172},{147,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{147,43}</string>
      </dict>
      <key>common/title_img/title_create_club_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,41},{201,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{201,43}</string>
      </dict>
      <key>common/title_img/create_record.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{200,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{200,47}</string>
      </dict>
      <key>common/title_img/promoter.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,302},{141,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{141,39}</string>
      </dict>
      <key>common/title_img/title_club_game.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,223},{163,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{163,35}</string>
      </dict>
      <key>common/title_img/txt_tip.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,223},{164,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{164,37}</string>
      </dict>
      <key>common/title_img/title_questionDesc.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,136},{165,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{165,41}</string>
      </dict>
      <key>common/title_img/title_tip2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,432},{84,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,41}</string>
      </dict>
      <key>common/title_img/txt_title_apply.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,397},{95,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,41}</string>
      </dict>
      <key>common/title_img/title_gainReward.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,223},{164,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{164,37}</string>
      </dict>
      <key>common/title_img/ttitle_play_help.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,129},{166,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{166,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>titleImg.png</string>
      <key>realTextureFileName</key>
      <string>titleImg.png</string>
      <key>size</key>
      <string>{653,474}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>653</integer>
      <key>height</key>
      <integer>474</integer>
    </dict>
  </dict>
</plist>

