<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hongheihu/imgs/common/arrow1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,433},{99,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,79}</string>
      </dict>
      <key>hongheihu/imgs/common/flag_zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,434},{62,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{62,69}</string>
      </dict>
      <key>hongheihu/imgs/common/ready.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,355},{75,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{75,93}</string>
      </dict>
      <key>hongheihu/imgs/common/scale9bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,498},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hongheihu/imgs/common/scale9bg4.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,338},{94,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>hongheihu/imgs/common/wz_hddxwcp.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,355},{160,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{160,20}</string>
      </dict>
      <key>hongheihu/imgs/common/close1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,338},{104,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,93}</string>
      </dict>
      <key>hongheihu/imgs/common/close2.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,432},{79,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{79,83}</string>
      </dict>
      <key>hongheihu/imgs/common/select_chi_mask.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,252},{84,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{84,184}</string>
      </dict>
      <key>hongheihu/imgs/common/line2.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,1},{745,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceSize</key>
        <string>{745,21}</string>
      </dict>
      <key>hongheihu/imgs/common/select_chi_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{301,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{301,249}</string>
      </dict>
      <key>hongheihu/imgs/common/xiaoxianggong.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,252},{101,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>common.png</string>
      <key>realTextureFileName</key>
      <string>common.png</string>
      <key>size</key>
      <string>{326,747}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>326</integer>
      <key>height</key>
      <integer>747</integer>
    </dict>
  </dict>
</plist>

