<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallClub/img/detail/face/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,51},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,52},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,214},{45,45}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{36,48}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/102.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,221},{38,48}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/103.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,169},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,101},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{56,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,101},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,150},{48,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,1},{49,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,102},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,152},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1},{52,48}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,57},{54,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,153},{48,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{48,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1},{48,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,102},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1},{48,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,150},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,152},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,200},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1},{52,51}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1},{51,50}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,202},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,203},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,58},{54,51}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,53},{52,51}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,51},{49,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1},{52,55}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{48,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,205},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1},{54,52}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,111},{49,54}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,100},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1},{56,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,155},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,106},{53,50}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,162},{52,50}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,51},{50,49}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,55},{52,53}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1},{54,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,206},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,156},{49,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,158},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,53},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/49.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,51},{49,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,151},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,105},{48,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,151},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,152},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,152},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/54.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,106},{48,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,102},{48,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/56.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,200},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/57.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,102},{50,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/58.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,202},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/59.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,111},{56,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,57},{55,50}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1},{56,51}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,250},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/62.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,158},{48,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,252},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,54},{52,49}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,51},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1},{53,48}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,253},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1},{54,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,54},{56,50}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,255},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,202},{48,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/71.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,51},{47,52}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,201},{48,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/73.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,216},{48,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,109},{50,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1},{54,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/76.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,57},{52,53}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/77.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,161},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/78.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,248},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/79.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,51},{52,49}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,201},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/80.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,261},{50,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,204},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/82.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,207},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/83.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,109},{50,52}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/84.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,109},{40,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/85.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,203},{47,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/86.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,104},{44,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/87.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,102},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/88.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,163},{44,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/89.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,250},{49,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,55},{52,51}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/90.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/91.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,108},{48,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/92.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,109},{52,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/93.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,161},{44,49}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/94.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,252},{46,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/95.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,161},{48,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/96.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,245},{38,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/97.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,202},{48,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/98.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,52},{55,39}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>hallClub/img/detail/face/99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{41,38}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallClubChatFace.png</string>
			<key>realTextureFileName</key>
			<string>HallClubChatFace.png</string>
			<key>size</key>
			<string>{1024,338}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>338</integer>
		</dict>
	</dict>
</plist>