<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>daoju/dabian/d03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,330},{103,98}}</string>
        <key>offset</key>
        <string>{2,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,110},{96,108}}</string>
        <key>offset</key>
        <string>{-5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,220},{95,108}}</string>
        <key>offset</key>
        <string>{-6,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d06.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,220},{94,107}}</string>
        <key>offset</key>
        <string>{-4,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d07.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,110},{93,104}}</string>
        <key>offset</key>
        <string>{-5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d08.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,728},{93,29}}</string>
        <key>offset</key>
        <string>{2,-41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d09.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,690},{19,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{19,20}</string>
      </dict>
      <key>daoju/dabian/d10.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,92},{8,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{8,7}</string>
      </dict>
      <key>daoju/dabian/d10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,92},{23,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{23,11}</string>
      </dict>
      <key>daoju/dabian/d11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,500},{90,75}}</string>
        <key>offset</key>
        <string>{-4,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,577},{85,77}}</string>
        <key>offset</key>
        <string>{-3,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,762},{85,70}}</string>
        <key>offset</key>
        <string>{-3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d14.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,656},{85,70}}</string>
        <key>offset</key>
        <string>{-3,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d15.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,577},{68,47}}</string>
        <key>offset</key>
        <string>{-1,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/d16.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,626},{58,27}}</string>
        <key>offset</key>
        <string>{4,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>daoju/dabian/da01.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,1},{104,89}}</string>
        <key>offset</key>
        <string>{-4,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{164,159}</string>
      </dict>
      <key>daoju/dabian/dabian01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{99,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,107}</string>
      </dict>
      <key>daoju/dabian/dabian01_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,648},{33,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
      <key>daoju/dabian/dabian01_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,626},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>daoju/dabian/y01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,430},{120,68}}</string>
        <key>offset</key>
        <string>{0,-47}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,178}</string>
      </dict>
      <key>daoju/dabian/y02.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,421},{68,87}}</string>
        <key>offset</key>
        <string>{-9,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,178}</string>
      </dict>
      <key>daoju/dabian/y03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,656},{60,104}}</string>
        <key>offset</key>
        <string>{-7,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,178}</string>
      </dict>
      <key>daoju/dabian/y04.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,329},{85,90}}</string>
        <key>offset</key>
        <string>{-9,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{212,254}</string>
      </dict>
      <key>daoju/dabian/yan02.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,535},{8,27}}</string>
        <key>offset</key>
        <string>{-1,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{12,48}</string>
      </dict>
      <key>daoju/dabian/yan03.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,500},{10,33}}</string>
        <key>offset</key>
        <string>{0,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{12,48}</string>
      </dict>
      <key>daoju/dabian/yan04.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,500},{10,48}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{12,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>textureFileName</key>
      <string>dabian.png</string>
      <key>realTextureFileName</key>
      <string>dabian.png</string>
      <key>size</key>
      <string>{207,833}</string>
    </dict>
    <key>texture</key>
    <dict>
      <key>width</key>
      <integer>207</integer>
      <key>height</key>
      <integer>833</integer>
    </dict>
  </dict>
</plist>

